*{
    background: #f2e7f3;
}
body{
    display: flex;
    align-items: center;
    justify-content: center; 
}
header{
    margin-right: 60px;
}
h1, h2{
    display: flex;
    justify-content: center; 
}
img{
    width: 200px;
    border-radius: 50%;
}
h4,p{
    margin-top: 10px;
    margin-bottom: 6px;
}
footer{
    margin-left: 35px;
}