*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
white-text{
    color: white;
}
.flex-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid black;
    margin: 20px;
    justify-content: flex-end;
}
.flex-item-header{
    width: 150px;
}
.color1{
    background-color: blue;
    /*flex-grow: 1;*/
}
.color2{
    background-color: rgb(149, 149, 206);
    flex-grow: 3;
}
.color3{
    background-color: rgb(50, 168, 184);
    flex-grow: 1;
}
.color4{
    background-color: rgb(63, 171, 146);
}
.color5{
    background-color: rgb(10, 80, 154);
}


.flex-container{
    display: flex;
    height: 100vh   ;
    flex-wrap: wrap;
    align-items: stretch;
    /*justify-content: space-between;
    align-content: space-between;  */
    /*column-gap: 20px;
    row-gap: 20px;*/
    gap: 20px 20px;
}
.flex-item{
   /*width: 200px;*/
    max-width: calc(100% / 3 - 40px / 2);
    min-width: 150px;
    border: 3px solid black;
    border-radius: 4px;
}
div.flex-item > img{
    width: 100%;
}
.item-last{
order: 1;
}
.item-2{
order: 2;
}